@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.check {
    font-family: 'Playfair Display', serif;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: lightskyblue;
    height: 80px;
    width: 100%;
}

label.logo {
    color: azure;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0px;
    display: none;
}

nav ul li a{
    color: azure;
    font-size: 12px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover {
    background-color: chartreuse;
    transition: 0.5s;
}

.checkbtn {
    font-size: 30px;
    color: azure;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media(max-width:950px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media(max-width: 858px) {
    .checkbtn {
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: chartreuse;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: 0,5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0px;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: blue;
    }

    #check:checked ~ ul {
        left: 0;
    }
}