@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


h1 {
    color: red;
    font-size: 40px;
    text-decoration-line: underline;
    font-family: 'Playfair Display', serif;

}

.blue{
   color: blue; 
   font-size: italic;
}

#green {
    color: green;
    font-weight: 900;
}

.magicfont {
    font-family: 'Playfair Display', serif;
    color: aqua;
    font-size: large;
    background-color: black;
}